#datetime-picker {
  margin-top: 36px;
  margin-left: 156px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
}

#datetime-picker:hover {
  border: 1px solid #000;
  color: #000;
}
#datetime-picker:active {
  border: 1px solid #4e75ff;
}
#datetime-picker:disabled {
  border: 1px solid #808080;
}

button[data-start] {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 44px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  border: 1px solid #4e75ff;
}

button:hover {
  background: #6c8cff;
  border: 1px solid #6c8cff;
}
button:disabled {
  background: #cfcfcf;
  color: #989898;
  border: 1px solid #cfcfcf;
}

.timer {
  display: flex;
  width: 400px;
  height: 72px;
  margin-top: 32px;
  margin-left: 132px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 346px;
  height: 72px;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #2e2f42;
}
