.form {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin-top: 36px;
  margin-left: 156px;
}

.form label:first-of-type {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input[name='delay'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 340px;
  height: 36px;
  padding-left: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input[name='delay']:hover {
  border: 1px solid #000;
}

input[name='delay']:focus {
  border: 1px solid #4e75ff;
}

.form fieldset {
  display: flex;
  justify-content: space-evenly;
  width: 360px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  margin-top: 30px;
  margin-bottom: 24px;
}

[name='state'] {
  padding-right: 48px;
  padding-left: 48px;
}

.form button {
  border-radius: 8px;
  border-color: #4e75ff;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.form button:hover {
  background: #6c8cff;
}
